.banner-content{
    margin-left: 3rem;
    padding-top: 350px;
    height:200px;
}
.banner-title{
    font-size:3rem;
    font-weight:bold;
    text-shadow: 0 0 5px black;

}
.banner-overview{
    width:45rem;
    font-size: 1rem;
    line-height: 1.3;
    padding-top: 1rem;
    max-width: 500px;
    height: 80px;
    text-shadow: 0 0 3px black;
}